name: Rust Release

permissions:
  contents: write

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build
        run: cargo build --release
      
      - name: Build Windows
        run: rustup target add x86_64-pc-windows-gnu && sudo apt update && sudo apt-get install mingw-w64 && cargo build --target x86_64-pc-windows-gnu

      - name: Create GitHub release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/loader